@import url(https://fonts.google.com/share?selection.family=Poppins:wght@800);

:root {
    font-size: 62.5%; /* 1rem = 10px задала рем, но пока не поняла как и где использовать, буду пробовать с ним работать на следующих страницах*/
    --primary-color: #ffffff;
    --link-color: #d4a373; 
    --text-color: #000000; 
    --accent-color: #CCD5AE; 
    --block-color: #e9edc9;
    --secondary-color: #1d4315;
    --light-color: #fefae0;

}

* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 1.6rem; /* 16px */
    font-family: 'Poppins', sans-serif; 
    font-weight: 400;
    color: var(--text-color); /*для текста на странице по умолчанию*/
    
}

a { /* указываем то, что для всех ссылок мы убираем нижнее подчеркивание*/
    text-decoration: none;
}

img { /*для всех картинок максимальная ширина будет 100%, чтобы изображение не вылазило за пределы родительского блока*/
    max-width: 100%;
}
body {
    opacity: 0;
    animation: ani 3s forwards;
  }
  @keyframes ani {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }



.navigation{
    background-color: var(--background-color);
    padding-left: 20px; /* Внутренние отступы */
    padding-right: 20px;
    margin-right: 30px;
    margin-left: 30px; /* Внешние отступы */
    display: block;
    width: auto;
    margin: 0 auto 30px;
}

.navigation h2 {
  font-family: monospace;
  color: var(--primary-color);
}
.navigation ul {
  list-style: none; 
  margin: 0 auto;
  padding: 0;
  background: #e4eed5;
}

.navigation  a {
  text-decoration: none;
  font-family: 'Lora', serif;
  transition: .5s linear;
  padding: 2rem;
  display: block;
  color: var(--secondary-color);
  border-right: 1px solid #BAD78B;
  background: var(--accent-color);
}

.navigation li {
    display: inline-block;
}

.navigation a:hover {
    background: #BAD78B;
}

.container{
    padding-left: 20px; /* Внутренние отступы */
    padding-right: 20px;
    margin-right: 30px;
    margin-left: 30px;
    margin: auto;
}

div .maininfo{
    display: flex;
    line-height: 25px;
    text-align: center;
    width: auto;
    height: 500px;
    justify-content: center;
    background-color: var(--light-color);
    padding-top: 30px;
    padding-bottom: 30px;
   
}

.section{
    float: left;
    text-align: left;
    background-color: var(--block-color);
    padding-left: 50px;
    padding-right: 50px;
    margin-right: 30px;
    margin-left: 30px;
    width: 400px;
}
.section h3{
   font-size: 3rem;
}
.section p{
    font-size: 2rem;
}

.place{
    float: right;
    background-color: var(--accent-color);
}

.place p{
    font-size: large;
    font-weight: 500;
}

.point{
    border-radius: 100px;
}

.text, .textPOP{
    float: center;
    text-align: center;
    background-color: var(--block-color);
    margin: 30px;
    border-radius: 40px;
    margin-right: auto;
    margin-left: auto;
    width: 400px;

}

.textPOP{
    margin-top: 30px;
}


div .newbook, .POPbook{
    display: flex;
    line-height: 25px;
    text-align: center;
    width: auto;
    height: auto;
    margin-top: 50px;
    margin-bottom: 200px;
    background-color: var(--light-color);
    border-radius: 30px;
}

.imgnew, .imgPOP{
    height: auto;
    width: auto;
    border: 3px solid green; 
    border-radius: 30px;

}

.imgnew img {
    width: 20%;
    height: auto; 
    margin: 80px;
    border: 3px solid green; 
    border-radius: 30px;

}

.red, .sochy, .gosp{
    border-radius: 30px;
    border: var(--secondary-color);
}

.imgPOP img {
    width: 20%;
    height: auto; 
    margin: 80px;
    border: 3px solid green; 
    border-radius: 30px;

}

.downtwolist {
    padding: 30px 0;
    height: 100px;
    background-color: var(--light-color);
    margin: auto;
}

.wrapftwo p{
    font-size: large;
    font-weight: 700;
    text-align: center;
}

.downtwolist a{
    color: var(--secondary-color);
}